body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.message-area {
  margin-top: 50px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.message-card {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 25px;
}
